@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Proza+Libre:wght@700&display=swap");

* {
    box-sizing: border-box;

}


body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    transition: transform 0.3s ease;
}

body.show-nav {
    /* Width of the Nav */
    transform: translateX(200px);
}

.toogle {
    position: absolute;
    top: 20px;
    left: 20px;
}

nav ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
}

nav ul li a {
    text-decoration: none;
}

header {
    color: blue;
    font-size: 130%;
    position: relative;
    padding: 40px 15px;
    text-align: center;
}

h2 {
    font-family: "Proza Libre", sans-serif;
    margin: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

nav ul {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-color: blue;
    padding: 5px;
    margin: 2px;
    background-color: var(--primary-color);
    border-right: 2px solid rgba(200, 200, 200, 0.1);
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    z-index: 100;
    transform: translateX(-100%)
}


.navigation-item {
    list-style-type: none;
    padding: 5px;
    align-items: center;

}