@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Proza+Libre:wght@700&display=swap");

* {
    box-sizing: border-box;

}

body {
    background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 0, 0.5),
        rgba(0, 0, 255, 0.5)
      ), url(./images/profile.jpg) ;
    font-family: "Proza Libre", sans-serif;
    margin: 0;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: transform 0.3s ease;
    
}

body.show-nav {
    transform: translateX(150px);
}

.toogle {
    position: absolute;
    top: 10px;
    left: 0;
}

nav .logo img {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    justify-content: center;
}

nav ul {
    padding: 10px;
    list-style-type: none;
    margin: 10px;
}

nav ul li a {
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

header {
    color: blue;
    font-size: 130%;
    position: relative;
    padding: 30px 15px;
    text-align: center;
}

h2 {
    font-family: "Proza Libre", sans-serif;
    margin: 0;
}

nav ul {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-color: blue;
    padding: 20px;
    margin: 2px;
    background-color: var(--primary-color);
    border-right: 2px solid rgba(200, 200, 200, 0.1);
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 150px;
    height: 100vh;
    z-index: 100;
    transform: translateX(-100%)
}

main p {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    margin: 5px;
    padding: 5px;
    line-height: 40px;
}

main h2 {
    margin: 5px;
    padding: 5px;
}

.navigation-item {
    list-style-type: none;
    padding: 5px;
    align-items: center;

}

#projects h2 {
    color: blue;
}

.projects-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.projects-container img {
    width: 200px;
    height: 200px;
    padding: 10px;
    margin: 10px;
}

.projects-container h3 {
    text-align: center;
}

#contacts {
    display: flex;
    flex-direction: column;
    align-self: auto;
    justify-content: center;
}
#contacts input{
    padding: 5px;
}